body {
    background-color: #CCCCFF;
}

#bar {
    text-align: center;
    color: white;
    background-color: blueviolet;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    clear: both;
}

#main-nav {
    background-color: aliceblue;
    text-align: center;
}

#main-nav li:hover {
    background-color:antiquewhite;
    color:blueviolet;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.content-area {
    width: 70%;
    float: left;
    margin: 0;

}

.content-box {
    background-color:aqua;
    color:black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
}

#contact {
    text-align: center;
    background-color:blue;
    float: right;
    width: 25%;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.main-container {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}